body {
  width: 1440px;
  margin: auto;
  padding-top: 15px;
  background-color: rgb(235, 235, 251);
  color: black;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
}
.header-nav li {
  list-style: none;
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 30px;
}
.header-nav li a {
  text-decoration: none;
}

/* Banner Styles Section */
.banner-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 70px;
}
.banner-left {
  text-align: center;
}
.left-sub-title {
  font-family: sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}
.left-title {
  margin-top: 40px;
  font-family: sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}
.left-des {
  font-family: sans-serif;
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
}
.btn-book {
  color: #fff;
  font-family: sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 20px;
  background: #ff1111;
  border: none;
  cursor: pointer;
}
.btn-book i,
.btn-more i {
  margin-left: 8px;
}
.btn-more {
  margin-left: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 20px;
  background: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

/* About Section Styles  */

.about-container {
  margin: auto;
}

.about-title {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  font-style: bold;
  color: rgb(13, 53, 98);
  font-weight: 700;
}
.about-title span {
  font-family: sans-serif;
  font-size: 50px;
  font-style: bold;
  color: rgb(203, 25, 25);
  font-weight: 700;
}
.about-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.about-right {
  text-align: start;
  padding-left: 10%;
}
.right-title {
  color: #000;
  font-family: Inria Sans;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}
.right-car-red {
  color: rgb(203, 25, 25);
  font-family: Inria Sans;
  font-size: 55px;
  font-style: bolda;
  font-weight: 900;
  line-height: normal;
}
.info-right-des {
  color: #000;
  font-family: Inria Sans;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
}
.info-right-check i {
  color: #363232;
  font-size: 34px;
  font-style: normal;
  font-weight: 300;
  color: rgb(203, 25, 25);
  line-height: normal;
}
.info-right-check {
  align-items: center;
  color: #363232;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.pertner-container {
  padding-top: 25px;
  text-align: center;
}
.pertner-container h1 {
  color: #000;
  font-family: Inria Sans;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pertner-container h1 span {
  color: #f00;
  font-family: Inria Sans;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.partner-logo img{
    margin-left: 100px;
}
.copy-right{
  padding: 30px 100px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}